<section class="h-100 bg-dark">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <div class="row g-0">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://images.unsplash.com/photo-1585763465611-ff693ea0313c?q=80&w=1889&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                                alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <form  [formGroup]="registrationForm"> 
                            <div class="card-body p-md-4 text-black">
                                <h3 class="mb-5">Student Registration Form</h3>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" formControlName="firstName"    id="firstName" class="form-control " />
                                            <label class="form-label mt-2" for="firstName">First name</label>
                                            <div class="text-danger" *ngIf="registrationForm.controls['firstName'].touched">
                                                <span *ngIf="registrationForm.controls['firstName'].errors?.['minlength']">Minimum length is 2</span>
                                                <span *ngIf="registrationForm.controls['firstName'].errors?.['required']">This is required</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" formControlName="lastName"      id="lastName" class="form-control " />
                                            <label class="form-label mt-2" for="lastName">Last name</label>
                                                <div class="text-danger" *ngIf="registrationForm.controls['lastName'].touched">
                                                    <span *ngIf="registrationForm.controls['lastName'].errors?.['minlength']">Minimum length is 2</span>
                                                    <span *ngIf="registrationForm.controls['lastName'].errors?.['required']">This is required</span>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="form-outline">
                                            <input type="text" formControlName="fullName" id="fullName" class="form-control " />
                                            <label class="form-label mt-2" for="fullName">Full Name</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-outline">
                                            <input type="date"  formControlName="DOB"  id="DOB" class="form-control " />
                                            <label class="form-label mt-2" for="DOB">Select DOB</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="age" id="age" class="form-control " />
                                            <label class="form-label mt-2" for="age">Age</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-outline"  *ngClass="registrationForm.controls['licenseNumber'].errors?.['required'] ? 'text-danger':''">
                                            <input type="text" formControlName="licenseNumber"   id="licenseNumber" class="form-control " />
                                            <label class="form-label mt-2" for="licenseNumber">Licence No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <select class="select" formControlName="country"  class="form-control">
                                            <option value="">Select Country</option>
                                            <option value="USA">USA</option>
                                            <option value="India">India</option>
                                            <option value="Pakistan">Pakistan</option>
                                            <option value="Other">Other</option>
                                        </select>
                                        <label class="form-label mt-2" for="country">Select  Country</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" formControlName="state"       id="state" class="form-control " />
                                            <label class="form-label mt-2" for="state">Provide State</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" *ngIf="registrationForm.controls['country'].value === 'Pakistan'">
                                    <div class="col-md-4">
                                        <select class="select"  formControlName="identityType"   class="form-control">
                                            <option value="">Select Identity Proof</option>
                                            <option value="CNIC">CNIC</option>
                                            <option value="Birth Certificate">Birth Certificate</option> 
                                        </select>
                                        <label class="form-label mt-2" for="identityType">Identity Proof</label>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-outline">
                                            <input type="text" formControlName="idCardNo"  id="idCardNo" class="form-control " />
                                            <label class="form-label mt-2" for="idCardNo">Enter Card No</label>
                                        </div>
                                    </div>
                                </div>  
                                <div class="d-flex justify-content-left pt-3">
                                    <button type="button" class="btn btn-light btn-lg" (click)="clearForm()">Reset all</button>
                                    <button type="submit" class="btn btn-warning btn-lg ms-2" (click)="onSubmit()">Submit form</button>
                                </div>

                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>